
.places h1 {
	text-align : left;
	font-size:30px;
}
.places article {
	margin: 20px;
	border: 1px solid  #FF5A5F;
	border-radius: 4px;
	width:390px;
	padding: 20px;
	display:inline-block;

}

article h2 {
		font-size :30px;
		text-align: center;
}

.container .places{
	text-align:center;
}

/*style ;price by day*/
article .price_by_night{
	border:4px solid #FF5A5F;
	border-radius:100%;
	color:#FF5A5F;
	height: 60px;
	width: 60px;
	font-size: 30px;
	display:inline-block;
	float:right;
	top:-80px;
	line-height:60px;
	position:relative;
}
div.information {
	height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
div.max_guest,
div.number_rooms,
div.number_bathrooms {
    line-height: 140px;
    width: 100px;
    height: 70px;
    display: inline-block;
    background-position: 50% 5px;
    background-repeat: no-repeat;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

div.user{
    font-weight:bold;
	display:relative;
}
